.cookie-consent {
  color: black;
  background-color: grey;
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  bottom: 0;
  position: fixed;
  right: 0;
  text-align: left;
}