.profile-image {
    display: block;
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border: 10px solid black;
    border-bottom: 10px double black;
    border-top: 10px double black;
    -webkit-box-shadow: -10px 15px 18px 2px rgba(52, 9, 255, 0.88);
            box-shadow: -10px 15px 18px 2px rgba(52, 9, 255, 0.88);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  
  /* media screen netrebamo odvajati sve niže možemo dodati po klasama i raditi promjenu za odredenu sirinu i visinu*/
  @media screen and (max-width: 768px) {
    .profile-image {
      width: 240px;
      height: 240px;
    }
  }
  
  .profile-image:hover {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
    -webkit-transition: -webkit-transform 2s ease;
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  .project {
    display: block;
    width: 100%;
    background-color: white;
    padding: 16px;
    border: 10px solid black;
    border-bottom: 10px double black;
    border-top: 10px double black;
    text-align: center;
  }
  
  .project-title {
    margin-bottom: 16px;
  }
  
  .project-description {
    margin-bottom: 16px;
  }
  
  .project-footer {
    margin-bottom: 8px;
  }
  
  .project-link {
    display: inline-block;
    background-color: blanchedalmond;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    height: 14px;
    font-size: 1rem;
    line-height: 1rem;
    padding: 13px 8px;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  
  .project-tehnology-list {
    margin: -4px 0;
    padding: 0;
  }
  
  .project-tehnology-list li {
    display: inline-block;
    background-color: grey;
    padding: 4px 8px;
    color: black;
    margin-right: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .project-tehnology-list li :last-child {
    margin-right: 0;
  }