.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-message {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: auto;
  }
  
  .tooltip:hover .tooltip-message {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 12px;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 100%;
    max-width: 320px;
  }
  